@import "tailwindcss";

html {
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

@theme {
  --color-gold: #bfa45a
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee-wrapper {
  overflow: hidden;
  background-color: var(--color-gold);
  border-bottom: 1px solid var(--color-gold);
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  color: white;
  font-weight: 600;
  font-size: 0.875rem; /* text-sm */
  padding: 0.5rem 0;   /* py-2 */
}
